html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

.login-container{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-image: url("../images/loginCover.jpg");
	padding: 10px;
}

.login{
	width: 400px;
	height: 350px;
	background-color: rgba(0, 0, 0, .4);
	margin: 15% auto;
	padding: 10px;
	border-radius: 20px;
	color: white;
}

.login .sub_login{
	width: 100%;
	margin-top: 120px;
}

.box{
	width: 80%;
	margin: 20px auto;
	
}

.box label{
	padding-top: 10px;
	width: 20px;
}
.box input{
	padding: 5px;
	float: right;
	width: 200px;
}

.subLogin {
	padding: 15px;
	clear: both;
	margin-left: 40px;
	border-radius: 10px;
}

/*Wall*/

.main_container{
	width: 80%;
	height: 100%;
	background-color: rgba(230, 230, 230, .7);
	margin: 0 auto;
}

.section{
	width: 90%;
	padding: 5px;
	/*height: 200px;*/
	margin: auto;
	display: flex;
}

.section nav{
	text-align: right;
	margin: 5px;
}
.section nav a{
	margin: 5px 15px;
	font-size: 40px;
	font-family: sans-serif;
	color: rgb(23, 25, 20);
	text-decoration: none;
	font-weight: bolder;
}

.section nav a:hover{
	color: red;	
}

.section_p{
	width: 90%;
	padding: 5px;
	/*height: 200px;*/
	margin: auto;
	display: flex;
}
.section_p .post{
	display: inline-block; 
	width: 200px;
	height: 200px;
	border: 1px solid red; 
	padding: 10px;
	margin-left: 50px; 
	background-color: rgba(255, 255, 255, .4);
}

.section .img_container{
	width: 300px;
	height: 300px;
	/*display: inline-block;*/
}

.section .img_container img{
	width: 100%;
	height: 100%;
}

.section .write_post_container{
	/*display: inline-block;*/
	/*margin-left: 70px; */
	padding: 5px;
	width: 80%;
	height: 100%;
}

.section .write_post_container form textarea{
	font-weight: bolder;
}
.section .write_post_container form input[type="submit"]{
	width: 100px;
	height: 100px;
	border-radius: 5px;
}
